{% extends 'Basquet1/base.html' %}
{% block contenido %}
<section>
    <div>
        <h1>Articulos</h1>
        <h2> Las categorías de artículos son: Ataque, Defensa, Lanzamiento, Estrategia y Mental</h2>
        <table class="table">
            
            <form method="get">
                <input type="text" name="q" value="{{ request.GET.q }}">
                <button type="submit">Buscar por categoria</button>
                <br></br>              
            <a href="{% url 'crear_articulo' %}" class="btn btn-primary">Crear articulo</a>
            <br></br>
            <table class="table">
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> Titulo </th>
                    <th> Fecha de redacción </th>
                    <th> Categoria </th>
                    <th> Editar</th>
                    <th> Leer más</th>
                    
                </tr>
                {% for articulo in object_list %}
                <tr>
                    <td> {{articulo.id}}</td>
                    <td> {{articulo.titulo}}</td>
                    <td> {{articulo.fecha_creacion}}</td>
                    <td> {{articulo.categoria}}</td>
                    <td>
                       <a href="{% url 'editar_articulos' articulo.id %}">Editar</a>    
                    </td> 
                    <td>
                        <a href="{% url 'ver_articulos' articulo.id %}">Leer más</a>    
                     </td> 
                    <td>
                        <a href="{% url 'eliminar_articulos' articulo.id %}">
                          <i class="bi bi-trash"></i>
                        </a>  
                    </td>
                </tr>
            </tbody>
        </table> 
        <br></br>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             <div style="display: inline-flex;">
                <span>Base de datos</span>
            </div>   
            </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" href="{% url 'listar_jugadores' %}">Jugadores</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'listar_clubes' %}"><strong>Clubes</strong></a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'listar_entrenadores' %}">Entrenadores</a>
            </li>
            <li>
        </ul>
        <div>   

{% endblock contenido %}
