{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section>

        <h1>Panel de entrenadores</h1>
    
        <form method="get">
            <input type="text" name="p" value="{{ request.GET.p }}">
            <button type="submit">Buscar por apellido</button>
        <br></br>
        <a href="{% url 'crear_entrenadores' %}" class="btn btn-primary">Crear perfil del nuevo entrenador</a>      
        <table class="table">
            <table class="table">
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> Nombre </th>
                    <th> Apellido</th>
                    <th> Editar</th>
                    <th> Ver</th>
                </tr>
                {% for coach in object_list %}
                <tr>
                    <td> {{coach.id}}</td>
                    <td> {{coach.nombre}}</td>
                    <td> {{coach.apellido}}</td>
                    <td>
                       <a href="{% url 'editar_entrenadores' coach.id %}">Editar</a>    
                    </td> 
                    <td>
                        <a href="{% url 'ver_entrenadores' coach.id %}">Ver</a>    
                     </td> 
                    <td>
                        <a href="{% url 'eliminar_entrenadores' coach.id %}">
                          <i class="bi bi-trash"></i>
                        </a>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <a class="btn btn-danger" href="{% url 'listar_articulo'%}">Articulos</a>

    <br></br>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         <div style="display: inline-flex;">
            <span>Base de Datos:</span>
        </div>   
        </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <a class="dropdown-item" href="{% url 'listar_jugadores' %}">Jugadores</a>
        </li>
        <li>
            <li>
                <a class="dropdown-item" href="{% url 'listar_clubes' %}">Clubes</a>
            </li>
    </ul>    
</section>
{% endblock contenido %} 