{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section style="font-size: xx-large">
<hi> Bienvenido al sitio de baloncesto en Argentina más completo en información {{user.first_name}} </hi>
<h2> Aquí se encontrará la posibilidad de redactar artículos sobre diversos temas, exclusivamente relacionados a la naranja y el desarrollo de su juego</h2>
<a class="btn btn-danger" href="{% url 'listar_articulo'%}">Articulos</a>
<h2> Por otro lado, podrá acceder a una amplia red de Jugadores, Clubes y Entrenadores para hallar lo que necesite de información sobre ellos.</h2>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
     <div style="display: inline-flex;">
        <span>Base de datos</span>
    </div>   
    </button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
        <a class="dropdown-item" href="{% url 'listar_jugadores' %}">Jugadores</a>
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'listar_clubes' %}"><strong>Clubes</strong></a>
    </li>
    <li>
        <a class="dropdown-item" href="{% url 'listar_entrenadores' %}">Entrenadores</a>
    </li>
    <li>
</ul>
<div>
    
</div>
</section>



{% endblock contenido %}  
