{% extends "Basquet1/base.html" %}

{% block contenido %}
<section style="margin-left: 100px;">
  <div>
    <h1>Panel de Articulos</h1>
    <h2>Los artículos deben tener el mismo nombre de autor que el nombre del usuario utilizado para accionar sobre él (Actualizarlo o Eliminarlo)</h2>
    <br></div>
    <div class="search-bar-container" >
      <form action="{% url 'buscar_articulo' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda" value="{{ reciente }}">
        <input type="submit" value="Buscar por título"  style="margin-right: 50px">
      </form>
      {% if user.is_authenticated %}
      <div class="create-article-container" style="margin-right: 50px;">
        <div class="list-group" style="width: 247px; float: right;">
          <a href="{% url 'crear_articulo' %}" class="list-group-item list-group-item-action text-center">Crear Articulo</a>
        </div>
      </div>
      {% endif %}
    </div>
    <br></br>
    {% if articulos|length == 0%}
      <p style="margin-top: -30px;">No hay entradas aun</p>
    {% else %}
     <table class="table">        
      <table class="table">
      <tbody>
          <tr>
              <th> Titulo </th>
              <th> Subtitulo </th>
              <th> Fecha de creacion</th>
              <th> Autor </th>
              <th> Ver</th>
              <th> Editar</th>
              <th> Eliminar</th>
          </tr>
        {% for articulo in articulos %}
          <tr>
              <td> {{articulo.titulo}}</td>
              <td> {{articulo.subtitulo}}</td>
              <td> {{articulo.fecha}}</td>
              <td> {{articulo.autor}}</td>
              <td>
              <a href="{% url 'ver_articulo' articulo.id %}">Leer mas</a>    
              </td>
                      <td>
                        {% if user.username == articulo.autor or user.is_superuser or user.is_staff %}
                       <a href="{% url 'editar_articulo' articulo.id %}">Editar</a>    
                       {% endif %}
                       <td>
                        {% if user.username == articulo.autor or user.is_superuser or user.is_staff %}
                       <a href="{% url 'eliminar_articulo' articulo.id %}"> Eliminar <i class="bi bi-trash"></i> </a>  
                        {% endif %}
                       </td>
          </tr>
      {% endfor %}
      </tbody>
      {% endif %}
  </table>
  </div>
</section>
{% endblock contenido %}
