{% extends 'Basquet1/base.html' %}
{% block contenido %}
<section>
    <div>
        <h1>Articulos</h1>
        <table class="table">
            <a href="{% url 'crear_articulo' %}" class="btn btn-primary">Crear articulo</a> 
            <form method="get">
                <input type="text" name="t" value="{{ request.GET.t }}">
                <button type="submit">Buscar por titulo</button>
            <form method="get">
                <input type="text" name="q" value="{{ request.GET.q }}">
                <button type="submit">Buscar por categoria</button>          
            <table class="table">
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> Titulo </th>
                    <th> Fecha de redacción </th>
                    <th> Categoria </th>
                    <th> Editar</th>
                    <th> Ver</th>
                    
                </tr>
                {% for articulo in object_list %}
                <tr>
                    <td> {{articulo.id}}</td>
                    <td> {{articulo.titulo}}</td>
                    <td> {{articulo.fecha_creacion}}</td>
                    <td> {{articulo.categoria}}</td>
                    <td>
                       <a href="{% url 'editar_articulos' articulo.id %}">Editar</a>    
                    </td> 
                    <td>
                        <a href="{% url 'ver_articulos' articulo.id %}">Ver</a>    
                     </td> 
                    <td>
                        <a href="{% url 'eliminar_articulos' articulo.id %}">
                          <i class="bi bi-trash"></i>
                        </a>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    

{% endblock contenido %}
