{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section style="font-size: large">
    <div>
        <h1>Panel de clubes</h1>
        <p style="font-size: x-large" class="text-primarys">¿Desea agregar un nuevo club? Haga click aquí debajo</p>
        <a href="{% url 'cargar-club' %}"> Cargar Club</a>
        <br><br>
        <form action="{% url 'buscar-clubes' %}" method="post">
            {% csrf_token %}
            <input type="text" name='busqueda'>
            <input type="submit" value="Buscar Club por categoria">
        </form>
        <br>
        <ul>
        {% for club in clubes %}
         <li> "Nombre: {{club.nombre}} --/ Juega en: {{club.categoria_juego}}. --/ Se fundó el: {{club.fecha_fundacion}}.</li>
        {% endfor %}
        </ul>
    </div>
</section>
{% endblock contenido %} 