{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section><section style="font-size: large">
    <div>
        <h1>Panel de entrenadores</h1>
        <p style="font-size: x-large" class="text-success">¿Desea agregar un nuevo entrenador? Haga click aquí debajo</p>
        <a href="{% url 'cargar-entrenador' %}"> Cargar Entrenador</a>
        <br><br>
        <p style="font-size: large" class="text-success">¿Desea filtrar un entrenador? Búsquelo aquí</p>
        <form action="{% url 'buscar-entrenadores' %}" method="post">
            {% csrf_token %}
            <input type="text" name='busqueda'>
            <input type="submit" value="Buscar Entrenador por su apellido">
        </form>
        <br><br>
        <h1>Lista de entrenadores</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th> Nombre del Entrenador </th>
                    <th> Origen </th>
                    <th> Fecha de nacimiento</th>
                    <th> Editar </th>
                    <th> Eliminar </th>
                </tr>
                {% for coach in entrenadores %}
                <tr>
                    <td> {{coach.nombre}} {{coach.apellido}}</td>
                    <td> {{coach.lugar_de_nacimiento}}</td>
                    <td> {{coach.fecha_de_nacimiento}}</td>
            
                <td>
                    <a href="{% url 'editar_entrenador' coach.id %}">Editar</a>
                <td>
                <form action="{% url 'eliminar_entrenador' coach.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Eliminar"/>
                  </form>
              </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock contenido %} 