{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section>
    <div>
        <h1>Panel de jugadores</h1>
        <p style="font-size: x-large" class="text-success">¿Desea agregar un nuevo jugador? Haga click aquí debajo</p>
        <a href="{% url 'cargar-jugador' %}"> Cargar Jugador</a>
        <br></br>
        <p style="font-size: large" class="text-success">¿Desea filtrar un jugador? Búsquelo aquí</p>
        <form action="{% url 'buscar-jugadores' %}" method="post">
            {% csrf_token %}
            <input type="text" name="busqueda">
            <input type="submit" value="Buscar Jugador por su nombre">
        </form>
        <br></br>
        
        <h1>Lista de jugadores </h1>
        <p style="font-size: x-large"></p>
        {% for player in jugadores %}
         <li> Jugador: {{player.apellido}}, {{player.nombre}}. --/ Oriundo de: {{player.lugar_de_nacimiento}}. --/ Nacido el: {{player.fecha_de_nacimiento}}.</li>
        <li> ¿Puede jugar?  {{player.esta_habilitado}}</li>
         {% endfor %}
        </ul>
    </div>
</section>
{% endblock contenido %} 
