{% extends 'Basquet1/base.html' %}

{% block contenido %}
        <h1>Panel de jugadores</h1>
        <table class="table">        
        <form method="get">
                <input type="text" name="p" value="{{ request.GET.p }}">
                <button type="submit">Buscar por apellido</button>
                <br></br>        
        <a href="{% url 'crear_jugadores' %}" class="btn btn-primary">Crear perfil del nuevo jugador</a>
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> Nombre </th>
                    <th> Apellido</th>
                    <th> Editar</th>
                    <th> Ver</th>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for jugador in object_list %}
                <tr>
                    <td> {{jugador.id}}</td>
                    <td> {{jugador.nombre}}</td>
                    <td> {{jugador.apellido}}</td>
                    <td>
                       <a href="{% url 'editar_jugadores' jugador.id %}">Aquí</a>    
                    </td> 
                    <td>
                        <a href="{% url 'ver_jugadores' jugador.id %}">Ver</a>    
                     </td> 
                    <td>
                        <a href="{% url 'eliminar_jugadores' jugador.id %}">
                          <i class="bi bi-trash"></i>
                        </a>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <a class="btn btn-danger" href="{% url 'listar_articulo'%}">Articulos</a>

    <br></br>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         <div style="display: inline-flex;">
            <span>Base de Datos:</span>
        </div>   
        </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <a class="dropdown-item" href="{% url 'listar_clubes' %}">Clubes</a>
        </li>

        <li>
            <a class="dropdown-item" href="{% url 'listar_entrenadores' %}">Entrenadores</a>
        </li>
        <li>
    </ul>    
</section>
{% endblock contenido %} 


