{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section>
    <div>
        <h1>Panel de jugadores</h1>
        </form>
        <table class="table">        
            <form method="get">
            <input type="text" name="q" value="{{ request.GET.q }}">
            <button type="submit">Buscar por nombre</button>
        <form method="get">
                <input type="text" name="p" value="{{ request.GET.p }}">
                <button type="submit">Buscar por apellido</button>
                
        <a href="{% url 'crear_jugadores' %}" class="btn btn-primary">Crear perfil del nuevo jugador</a>
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> Nombre </th>
                    <th> Apellido</th>
                    <th> Editar</th>
                    <th> Ver</th>
                    
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for jugador in object_list %}
                <tr>
                    <td> {{jugador.id}}</td>
                    <td> {{jugador.nombre}}</td>
                    <td> {{jugador.apellido}}</td>
                    <td>
                       <a href="{% url 'editar_jugadores' jugador.id %}">Aquí</a>    
                    </td> 
                    <td>
                        <a href="{% url 'ver_jugadores' jugador.id %}">Ver</a>    
                     </td> 
                    <td>
                        <a href="{% url 'eliminar_jugadores' jugador.id %}">
                          <i class="bi bi-trash"></i>
                        </a>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</section>
{% endblock contenido %} 


