{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section>
    <div>
        <h1>Panel de clubes</h1>
        <h2>Los clubes deben tener el mismo nombre de autor que el nombre del usuario utilizado para accionar sobre él (Actualizarlo o Eliminarlo)</h2>
        <br></div>
        <div class="search-bar-container" >
            <form action="{% url 'buscar_clubes' %}" method="post">
              {% csrf_token %}
              <input type="text" name="busqueda" value="{{ reciente }}">
              <input type="submit" value="Buscar por categoria: Liga Nacional, Liga argentina o Torneo Federal."  style="margin-right: 50px">
            </form>
            <a href="{% url 'crear_clubes' %}" class="btn btn-primary">Crear perfil del nuevo club</a>    
        
        <table class="table">        
            <table class="table">
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> Nombre </th>
                    <th> Fecha de fundacion</th>
                    <th> Categoria </th>
                    <th> Creador </th>
                    <th> Editar</th>
                    <th> Ver</th>
                    
                </tr>
                {% for club in object_list %}
                <tr>
                    <td> {{club.id}}</td>
                    <td> {{club.nombre}}</td>
                    <td> {{club.fecha_fundacion}}</td>
                    <td> {{club.categoria_juego}}</td>
                    <td> {{club.creador1}}</td>
                    <td>
                        {% if user.username == club.creador1 or user.is_superuser or user.is_staff %}
                       <a href="{% url 'editar_clubes' club.id %}">Editar</a>   
                       {% endif %} 
                    </td> 
                    <td>
                        <a href="{% url 'ver_clubes' club.id %}">Ver</a>    
                     </td> 
                    <td>
                        {% if user.username == club.creador1 or user.is_superuser or user.is_staff %}
                        <a href="{% url 'eliminar_clubes' club.id %}">
                          <i class="bi bi-trash"></i>
                          {% endif %}
                        </a>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <a class="btn btn-danger" href="{% url 'listar_articulo'%}">Articulos</a>

    <br></br>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         <div style="display: inline-flex;">
            <span>Base de Datos:</span>
        </div>   
        </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <a class="dropdown-item" href="{% url 'listar_jugadores' %}">Jugadores</a>
        </li>

        <li>
            <a class="dropdown-item" href="{% url 'listar_entrenadores' %}">Entrenadores</a>
        </li>
        <li>
    </ul>    
</section>
{% endblock contenido %} 