{% extends 'Basquet1/base.html' %}

{% block contenido %}
<section>
    <div>
        <h1>Panel de clubes</h1>
        <form method="get">
            <input type="text" name="q" value="{{ request.GET.q }}">
            <button type="submit">Buscar por nombre</button>
        <table class="table">
            <form method="get">
                <input type="text" name="w" value="{{ request.GET.w }}">
                <button type="submit">Buscar por categoria</button>
            <table class="table">
            <tbody>
                <tr>
                    <th> ID </th>
                    <th> Nombre </th>
                    <th> Fecha de fundacion</th>
                    <th> Categoria </th>
                    <th> Editar</th>
                    <th> Ver</th>
                    
                </tr>
                {% for club in object_list %}
                <tr>
                    <td> {{club.id}}</td>
                    <td> {{club.nombre}}</td>
                    <td> {{club.fecha_fundacion}}</td>
                    <td> {{club.categoria_juego}}</td>
                    <td>
                       <a href="{% url 'editar_clubes' club.id %}">Editar</a>    
                    </td> 
                    <td>
                        <a href="{% url 'ver_clubes' club.id %}">Ver</a>    
                     </td> 
                    <td>
                        <a href="{% url 'eliminar_clubes' club.id %}">
                          <i class="bi bi-trash"></i>
                        </a>  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</section>
{% endblock contenido %} 