{% block sidebar %} 
        
<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
    <h5 class="card-header">Sobre BlogBaloncesto</h5>
<div class="card-body">
    <p class="card-text"> Este es un blog que le abre las puertas a cualquier persona interesada en este deporte tan atractivo, para que pueda aprender y conocer más sobre él.</p>
    <a href="{% url 'inicio' %}"
       class="btn btn-danger">Ve al inicio!</a>
    
       
     
         
</div>
</div>
</div>

{% endblock sidebar %}